body {
    margin: 0px;
    background-image: url(stats-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: MyFont;
    background-color: #5d7ba6;
    color: #ffffff;
}

@font-face {
    font-family: 'MyFont';
    src: url(LINESeedJP_A_TTF_Th.ttf);
}

h1,
h2,
h3,
p,
a {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #ffffff91;
}

.line-up {
    display: flex;
}

.contents {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    min-height: calc(100vh - 60px);
}

.line {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.panel {
    margin: 10px;
    padding: 15px;
    background-color: #ffffff12;
    border-radius: 20px;
}

.card {
    padding: 15px;
    width: 95%;
    margin: 3px;
    background-color: #ffffff12;
    border-radius: 20px;
}

.profile {
    background-color: #ffffff11;
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 12px;
}

.profile img {
    height: 30px;
}

.profile .line-up {
    margin-bottom: 3px;
}

.profile h3 {
    margin-left: 10px;
}

footer {
    height: 60px;
    display: block;
}

footer h3 {
    text-align: right;
    margin-right: 25px;
}

.logo {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 5px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.card h3 {
    font-size: 25px;
    color: #ffffffa0;
}

@media screen and (max-width: 1000px) {
    .hide {
        display: none;
    }
}