.wrapper{
    position: absolute;
    top: 20px;
    left: 20px;
    animation: show_toast 1s ease forwards;
}

@keyframes show_toast{
    0%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(10%);
    }
    80%, 100%{
        transform: translateX(20px);
    }
}

.wrapper.hide{
    display: none;
}

.wrapper .toast{
    background: #fff;
    padding: 20px 15px 20px 20px;
    border-radius: 10px;
    border-left: 5px solid #ccc;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toast .content{
    display: flex;
    align-items: center;
}

.content .icon{
    font-size: 25px;
    color: #fff;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background: #ccc;
}

.content .details{
    margin-left: 15px;
}

.details span{
    color: #878787;
    font-size: 20px;
    font-weight: 500;
}

.details p{
    color: #878787;
}
