:root {
    --main-color: #ffffff;
    --main-text: #3a302d;
    --sub-color: #f5deb3;
    --footer-color: #feccaa;
    --footer-text: #b76b37;
    --bg-color: #ffffff;
    --bg-light-color: #ffffffaa;
    --link-color: #4daafb;
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    margin: 0px;
    font-family: "Yuruka";
    color: var(--main-color);
}
h1,h2,h3{
    margin: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

@font-face{
    font-family: "Yuruka";
    src: url("./font/Yuruka.ttf");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

.topimage {
    width: 100vw;
    height: 300px;
    background-image: url(./background.jpeg);
    background-size: cover;
    background-position: center;
}

.sticky-header{
    position: sticky;
    top: 0px;
}

.name {
    text-align: center;
    position: relative;
    top: 50px;
}

.contents{
    color: var(--main-text);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: center;
    background-color: var(--bg-light-color);
    backdrop-filter: blur(3px);
    margin: 15px auto 10px auto;
}

.panel{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: var(--sub-color);
    width: 300px;
    border-radius: 25px;
    margin: 10px;
    padding: 7.5px 0px 7.5px 0px;
}

.card h2,.card h3{
    text-align: center;
}

footer{
    background-color: var(--footer-color);
    color: var(--footer-text);
    text-align: left;
    padding: 16.5px;
}